# Data
*.wav
*.pkl
*.png
*.mat
*.nc
*.mseed

# figures
dev_notebooks/figures/

# Wheels
dist/

# Compiled Python files
*.pyc
__pycache__/
_version.py

# Virtual environment
venv/
env/

# macOS
.DS_Store
.vscode

# Jupyter Notebook
.ipynb_checkpoints/
dev_notebooks/.ipynb_checkpoints/

# Docs
docs/_build/

# Simulation Files
*.bty
*.shd
*.mod
*.ray
*.env
*.prt
